@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --white:#E9E9E7;
  --gray1:#454646;
  --gray2:#7F7F7E;
  --yellow1:#FDD673;
  --yellow2:#f5e7a8;
  --orange1:#EE674E;
  --orange2:#F5A495;
  --red1:#c05462;
  --red2:#f394ac;
  --purple1:#af62f7;
  --purple2:#c998f8;
  --blue1:#5366B2;
  --blue2:#92adf7;
  --green1:#438a72;
  --green2:#A7D6AF; */

  --clr-1:#191d24;
  --clr-2:#2e3239;
  --clr-3:#45484e;
  --clr-4:#8f9195;
  --clr-5:#2b90e3;
  --clr-6:#72b0f8;
  --clr-7:#b1ccf3;

}
/* body {
  height: 100vh;
} */

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}
