@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color */
  --darkClr-1:#191d24;
  --darkClr-2:#2e3239;
  --darkClr-3:#45484e;
  --darkClr-4:#8f9195;
  --darkClr-5:#aeb0b4;

  --lightClr-1:#A0C6FA;
  --lightClr-2:#A0C6FA;
  --lightClr-3:#D1DFF0;
  --lightClr-4: #2a3746;
  --lightClr-5: #37485C;
  --lightClr-6: #254664;
}

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}
 .ql-toolbar.ql-snow {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #aeb0b46b;
}

.ql-container.ql-snow {
  border: none;
}

/*
.ql-snow .ql-stroke {
  stroke: #858585;
} */